table, td, th {
	border-color: rgb(221, 221, 221);
	border-style: solid;
	border-width: 1px;
}

	table tr:hover,
	table tr:nth-child(odd):hover,
	table tr:nth-child(odd) > td:hover,
	table tr:nth-child(odd) > td:hover ~ td {
		background-color: rgb(0,0,0);
		color: rgb(255,255,255);
	}

	table tr:nth-child(odd),
	table tr:nth-child(odd) > td {
		background-color: rgb(241, 241, 241);
	}
