@media (max-width: 1024px) {
	html {
		font-size: 12px;
	}

	.entry-header {
		border-radius: 0px;
	}

	.entry-header-description {
		left: 3.3em;
		top: 1.5em;
	}

	.site-information-image {
		flex-shrink: 1;
		margin: 1em;
	}

	.site-main {
		margin: 0;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 10px;
	}

	.entry-header {
		padding: 5rem 0 5rem 0;
	}

	.site-blog-container {
		margin: 0;
	}

	.site-footer {
		align-items: center;
		flex-direction: column;
	}

	.site-form {
		margin: 0;
	}

		.site-form form > button {
			margin: 0 auto;
		}

		.site-form form > p {
			flex-wrap: wrap;
		}

			.site-form form > p label {
				flex-basis: 100%;
				padding-bottom: 0.5em;
			}

	.site-information-image {
		display: none;
	}

	.site-information-text {
		align-items: center;
		display: flex;
		flex-basis: 100%;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.site-logo {
		flex-basis: 30%;
	}

		.site-logo:not(:last-child) {
			margin-right: 0;
		}

	.site-logos-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.site-navigation {
		display: none;
	}

	.site-post {
		flex-basis: 60%;
		margin-bottom: 1.5em;
	}

	.site-posts {
		flex-wrap: wrap;
	}
}

@media (max-width: 414px) {
	.site-post {
		flex-basis: 100%;
	}
}
