* {
	margin: 0;
	padding: 0;
}

	*, *::after, *::before {
		box-sizing: inherit;
	}

body {
	padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-weight: normal;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.875rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.625rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1.375rem;
}

header {
	align-items: center;
	border-bottom: 2px solid rgb(0,0,0);
	display: flex;
	padding: 1rem 0;
}

	header > nav {
		margin-left: auto;
	}

		header > nav > ul {
			display: flex;
			justify-content: space-between;
			list-style-type: none;
		}

	header nav > ul > li {
		list-style-type: none;
	}

		header nav > ul > li:not(:last-child) {
			margin-right: 1rem;
		}

		header nav > ul > li > a {
			color: rgb(0, 153, 0);
			text-decoration: none;
		}

	header > p {
		font-size: 2.5rem;
		font-weight: bold;
		text-transform: uppercase;
	}

html {
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

p {
	padding-bottom: 1rem;
}
